<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute">
  <DefaultInstance
    PluginType="Informedica.SecureSettings.ISettingSource,Informedica.SecureSettings"
    PluggedType="Informedica.SecureSettings.Testing.TestSettingSource,Informedica.SecureSettings"
  />
</StructureMap>